# auto generated github repos
github-repo/

# macOS
.DS_Store

# dependencies
node_modules/

# video recorder outputs
output/
gh-video-recorder/output/
*.webm
*.mp4
workspace/

# IDE
.idea/

# Python
__pycache__/
.venv/
